In [16]:
import numpy as np
import pandas as pd
import datetime

In [32]:
df = pd.read_csv("data/Dataset_joined.csv")
df.head()

,cod_provincia,Provincia,Comunidad autónoma,cod_semana,TEMP_MINIMA,TEMP_MAXIMA,TEMP_MEDIA,PRECIPITACION,Date,Period,...,cod_producto,ventas_unidades,ventas_valor,ventas_volumen,numero_referencias,precio_real_unidades,precio_real_volumen,precio_tarifa_unidades,precio_tarifa_volumen,promocion
0,1,Alava,País Vasco,1.0,"4,96","10,74","7,47","0,76",1/7/17,YEAR 2017,...,127.0,2.0,3.0,1.0,1.0,"1,65","0,33","1,65","0,33",NaN
1,1,Alava,País Vasco,1.0,"4,96","10,74","7,47","0,76",1/7/17,YEAR 2017,...,129.0,1.0,2.0,0.0,1.0,"1,65","0,33","1,65","0,33",NaN
2,1,Alava,País Vasco,1.0,"4,96","10,74","7,47","0,76",1/7/17,YEAR 2017,...,164.0,2.0,3.0,1.0,1.0,"1,45","0,33","1,45","0,33",NaN
3,1,Alava,País Vasco,1.0,"4,96","10,74","7,47","0,76",1/7/17,YEAR 2017,...,215.0,6.0,5.0,2.0,1.0,"0,75","0,33","0,75","0,33",NaN
4,1,Alava,País Vasco,1.0,"4,96","10,74","7,47","0,76",1/7/17,YEAR 2017,...,222.0,1.0,4.0,1.0,1.0,"4,26","1,32","4,26","1,32",NaN

In [ ]:


#group by region
#group by player
#group by category


#sum of sales = 
#sum of volume = 
#growth rate of each player
#growth rate of whole market

# Per Product

In [54]:
df.groupby('cod_producto')["ventas_unidades"].sum()

cod_producto
4.0           412.000
5.0          2803.000
6.0            11.000
7.0           212.000
8.0          2555.000
9.0          3251.000
10.0        75124.000
11.0          249.000
12.0          157.000
13.0          204.000
15.0         4679.000
16.0        25879.000
17.0         1342.000
18.0        12156.000
19.0         7787.000
20.0         1104.000
21.0         2949.000
22.0         4545.024
23.0         7173.000
24.0          195.000
26.0         2630.000
27.0          959.000
28.0         2460.000
29.0         2370.000
30.0         1983.000
31.0        69197.000
35.0          730.000
39.0         7650.000
40.0         7982.000
41.0         6779.000
             ...
1469.0       6096.000
1470.0     203556.627
1472.0       1912.000
1473.0       5222.000
1475.0        175.000
1477.0     190303.000
1479.0        473.000
1480.0     826394.002
1481.0      17981.000
1484.0     136799.000
1485.0      22294.000
1486.0    1093397.299
1487.0      15553.000
1488.0       1845.000
1491.0    1490994.836
1492.0     137273.000
1493.0     113480.000
1494.0      60239.000
1495.0      27147.000
1496.0    3071195.172
1497.0      27595.000
1498.0       4879.000
1499.0       2339.000
1500.0     629334.000
1501.0     568410.000
1502.0    3337009.185
1503.0     437787.000
1504.0     170391.000
1505.0     123301.000
1506.0         68.000
Name: ventas_unidades, Length: 1128, dtype: float64

In [ ]:
df.groupby('cod_producto')["ventas_valor"].sum()

# Per Province

In [55]:
df.groupby('Provincia')["ventas_unidades"].sum()

Provincia
Alava                              7.165232e+05
Albacete                           3.697736e+06
Alicante                           1.121474e+07
Almeria                            1.927965e+06
Area Metropolitana de Barcelona    2.064784e+07
Area Metropolitana de Madrid       4.066621e+07
Asturias                           5.262965e+06
Avila                              4.924266e+05
Badajoz                            3.944936e+06
Baleares                           7.601506e+06
Barcelona                          5.683505e+06
Burgos                             3.675884e+06
Caceres                            3.397005e+06
Cadiz                              6.394135e+06
Cantabria                          3.603788e+06
Castellon                          4.597446e+06
Ciudad Real                        2.909759e+06
Cordoba                            2.439842e+06
Cuenca                             1.545366e+05
Girona                             2.728707e+06
Granada                            5.042781e+06
Guadalajara                        2.238850e+06
Guipuzkoa                          7.974266e+06
Huelva                             1.124278e+06
Huesca                             9.095165e+05
Jaen                               1.244708e+06
La Coruña                          2.529682e+06
La Rioja                           1.858578e+06
Las Palmas                         0.000000e+00
Leon                               3.641346e+06
Lleida                             4.684710e+05
Lugo                               4.554620e+05
Madrid                             2.639333e+06
Malaga                             8.070926e+06
Murcia                             5.948055e+06
Navarra                            5.009550e+06
Ourense                            6.177270e+05
Palencia                           5.659046e+05
Pontevedra                         1.408620e+06
Salamanca                          3.751617e+06
Santa Cruz de Tenerife             0.000000e+00
Segovia                            6.238600e+04
Sevilla                            8.070881e+06
Soria                              5.267515e+05
Tarragona                          5.815078e+06
Teruel                             6.070560e+05
Toledo                             1.119205e+06
Valencia                           1.522939e+07
Valladolid                         6.109583e+06
Vizcaya                            9.037280e+06
Zamora                             2.115269e+05
Zaragoza                           8.119762e+06
Name: ventas_unidades, dtype: float64

In [ ]:
df.groupby('Provincia')["ventas_valor"].sum()

# Per Date

In [56]:
df["Date"].head()

0   2017-01-07
1   2017-01-07
2   2017-01-07
3   2017-01-07
4   2017-01-07
Name: Date, dtype: datetime64[ns]

In [50]:
df['Date'] =  pd.to_datetime(df['Date'], format='%m/%d/%y')
df["Date"].head()

In [57]:
df.groupby('Date')["ventas_unidades"].sum()

Date
2017-01-07    1411589.867
2017-01-14    1525513.350
2017-01-21    1577831.917
2017-01-28    1439952.854
2017-02-04    1577285.169
2017-02-11    1621719.536
2017-02-18    1596683.096
2017-02-25    1535490.222
2017-03-04    1518233.794
2017-03-11    1595238.006
2017-03-18    1576781.244
2017-03-25    1690826.771
2017-04-01    1525272.208
2017-04-08    1778496.222
2017-04-15    1834046.322
2017-04-22    1814861.502
2017-04-29    1576728.964
2017-05-06    1825833.734
2017-05-13    1872914.063
2017-05-20    2104453.799
2017-05-27    1957673.493
2017-06-03    2134999.256
2017-06-10    2188941.245
2017-06-17    2175402.230
2017-06-24    2086379.445
2017-07-01    1956211.557
2017-07-08    2033909.312
2017-07-15    2184779.597
2017-07-22    2019769.617
2017-07-29    1723625.599
                 ...
2019-02-02    1528482.835
2019-02-09    1592257.427
2019-02-16    1558767.151
2019-02-23    1536828.473
2019-03-02    1500770.355
2019-03-09    1553744.801
2019-03-16    1585426.464
2019-03-23    1558876.258
2019-03-30    1603983.098
2019-04-06    1740490.634
2019-04-13    1733740.542
2019-04-20    1631582.057
2019-04-27    1514958.621
2019-05-04    1663137.562
2019-05-11    1692490.375
2019-05-18    1754422.850
2019-05-25    2028163.026
2019-06-01    2248682.608
2019-06-08    2182589.342
2019-06-15    2100287.878
2019-06-22    2069627.370
2019-06-29    1995350.516
2019-07-06    2084214.893
2019-07-20    2196326.192
2019-07-27    1875685.140
2019-08-03    1950151.221
2019-08-17    2027560.744
2019-08-24    1921313.725
2019-08-31    1937305.386
2019-09-07    1724275.985
Name: ventas_unidades, Length: 138, dtype: float64

In [ ]:
df.groupby('Date')["ventas_valor"].sum()